{{voting-arrows
    isUpvoted=event.isUpvoted
    isDownvoted=event.isDownvoted
    upvoteAction='upvote'
    downvoteAction='downvote'}}

<div class="text">
  <h4>{{link-to title 'talk' event}}</h4>
  <p>Cras quis eros eget felis fringilla mollis sit amet id nulla. Class aptent taciti sociosqu ad litora torquent per conubia.</p>
</div>

{{voting-score score=score}}
