{{#if  session.isAuthenticated}}
  {{voting-arrows
      lid=event.id
      isUpvoted=event.isUpvoted
      isDownvoted=event.isDownvoted
      upvoteAction='upvote'
      downvoteAction='downvote'}}
{{/if}}

<div class="text">
  <h4 data-title-id={{event.id}} class='title'>{{link-to title 'talk' event}}</h4>
  <p>Cras quis eros eget felis fringilla mollis sit amet id nulla. Class aptent taciti sociosqu ad litora torquent per conubia.</p>
</div>

{{voting-score score=score lid=event.id}}
