{{voting-arrows
    isUpvoted=attrs.event.isUpvoted
    isDownvoted=attrs.event.isDownvoted
    upvoteAction='upvote'
    downvoteAction='downvote'}}

<div class="text">
  <h4>{{link-to title 'talk' attrs.event}}</h4>
  <p>Cras quis eros eget felis fringilla mollis sit amet id nulla. Class aptent taciti sociosqu ad litora torquent per conubia.</p>
</div>

<div class="score">
  <span>{{score}}</span><br />
  Score
</div>
