// Layout styles that don't quite fit anywhere else

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;

  @include breakpoint($tablet) {
    max-width: 900px;
    width: 80%;
  }
}
