// Layout styles that don't quite fit anywhere else

div.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 10px;
  width: 100%;

  @include breakpoint($tablet) {
    width: 80%;
    max-width: 900px;
  }
}
