// Layout styles that don't quite fit anywhere else

.container {
  border-left: 14px solid $background-color;
  border-right: 14px solid $background-color;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 614.4px;
  width: 100%;

  @include breakpoint($large) {
    max-width: 900px;
    width: 80%;
  }
}
