// Special transition styles
.liquid-container {

  > .title {
    color: $spring;
    font-size: 2em;
  }

  > .voting-arrows,
  > .title {
    z-index: 101;
  }

  > .voting-score {
    z-index: 102;
  }

  > .card {
    z-index: 100;

    p {
      display: none;
    }
  }

}
