// Breakpoints
// https://github.com/at-import/breakpoint
$medium: 'screen' 614px;
$large: 'screen' 768px;
$x-large: 'screen' 1024px;

// Pallete: Reach for the Sun
// http://www.colourlovers.com/palette/3510980/Reach_for_the_Sun
$night-sky: #30374a;
$ocean: #00807a;
$looks-like-fun: #60b389;
$spring: #a6ca8e;
$sun: #d4d055;

// Set theme
$primary-color: $looks-like-fun;
$secondary-color: $spring;

// Set base colors
$black: $night-sky;
$white: #fff;
$grey: #343434;
$gray: $grey;

// UI Elements
$background-color: $ocean;

// Flow
$padding-amount: 15px;

