.event-list-item {
  // === Self-Properties === //

  background-color: $white;
  border-bottom: 1px solid tint($black, 80%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-amount;

  // === Child Elements === //

  .text {
    flex: 3;

    h4 {
      font-size: 2em;
      margin: 0;
    }

    p {
      color: $grey;
      font-size: 1.1em;
      margin: 0;
    }
  }
}

