<div class="container">
  <div class="card">
    <div class="header">
      {{voting-arrows
          isUpvoted=model.isUpvoted
          isDownvoted=model.isDownvoted
          upvoteAction='upvote'
          downvoteAction='downvote'}}
      <h1>{{model.title}}</h1>
    </div>

    <p>
      Nulla ultricies finibus felis vitae vestibulum. Ut quis purus auctor, eleifend erat sed, rhoncus enim. Vivamus varius odio ut mollis vehicula. Pellentesque nibh lorem, tristique eu ultrices eu, dignissim sed purus. Vestibulum sagittis dolor ac lectus pharetra, eu congue nunc sollicitudin. Phasellus ornare ex at libero dapibus, eu gravida metus ullamcorper. Mauris feugiat venenatis augue, in lobortis turpis accumsan sed. Ut suscipit dignissim libero non placerat. Praesent id est in sapien pulvinar porta vel bibendum ipsum.
    </p>
    <p>
      Praesent molestie efficitur auctor. In eleifend est a nulla consequat viverra. Cras viverra finibus nisi, eget eleifend justo tempus in. In pretium massa nec interdum rutrum. Phasellus porta pharetra ullamcorper. Sed viverra tempor venenatis. Curabitur blandit finibus lobortis. Praesent varius auctor erat, sed placerat neque cursus ut. Vivamus interdum arcu sed turpis laoreet mattis. Nullam tempus mattis mi, ut sagittis velit aliquet et. Phasellus dictum non risus vulputate auctor. Sed consequat mollis ultrices. Nulla quis tristique erat. Quisque fringilla tellus eu arcu commodo, nec vulputate ante cursus. Phasellus non lacus nec risus bibendum bibendum ut sit amet massa. Etiam eu mattis neque.
    </p>
  </div>
</div>

